.sidebar {
  width: 250px;
  background-color: #151823 !important;
  color: #878ca4;
  font-family: 'Inter, sans-serif' !important;
}

.sidebar a {
  color: #878ca4;
  text-decoration: none !important;
  display: -webkit-inline-box !important;
}

.itemOpened {
  color: #fff !important;
  background-color: #282c3e !important;
  margin: 10% 13% !important;
  padding-top: 4% !important;
  width: 85% !important;
  border-radius: 8px !important;
  height: 5% !important;

  .active {
    color: #fff !important;
  }
  svg path {
    stroke: white !important;
  }
}

.itemOpened a {
  text-decoration: none !important;
  display: -webkit-inline-box !important;
  color: #fff !important;
}

.item {
  margin: 10% 0 !important;
}

.soloItem {
  margin: 10% 0 10% 13% !important;
}

.whiteLink {
  text-decoration: none !important;
  display: -webkit-inline-box !important;
  color: #fff !important;
  padding-top: 5% !important;
}

.grayLink {
  text-decoration: none !important;
  display: -webkit-inline-box !important;
  color: #878ca4 !important;
}

.subItem {
  width: 85% !important;
  margin: 10% 13% !important;
}

.subItemOpened {
  color: #fff !important;
  background-color: #282c3e !important;
  margin: 10% 13% !important;
  padding-top: 4% !important;
  width: 85% !important;
  border-radius: 8px !important;
  height: 5% !important;

  .active {
    color: #fff !important;
  }

  svg path {
    fill: white !important;
  }
}

.modalClose {
  background-color: transparent !important;
  color: #ffffff !important;
  height: 14px !important;
  width: 14px !important;
  margin-top: 2.5% !important;
  margin-left: 75% !important;
  display: flex !important;
  position: absolute !important;
}
