.sidebar {
  width: 250px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  background-color: #151823 !important;
  color: #878ca4;
  font-family: 'Inter, sans-serif' !important;
}

.sidebar a {
  color: #878ca4 !important;
  text-decoration: none !important;
  display: -webkit-inline-box !important;
}

.itemOpened {
  color: #fff !important;
  margin: 10% 0 !important;
}

.itemOpened a {
  text-decoration: none !important;
  display: -webkit-inline-box !important;
  color: #fff !important;
}

.item {
  margin: 10% 0 !important;
}

.subItemOpened {
  color: #fff !important;
  background-color: #282c3e !important;
  margin: 10% 7.5% !important;
  width: 85% !important;
  border-radius: 8px !important;
}

.whiteLink {
  text-decoration: none !important;
  display: -webkit-inline-box !important;
  color: #fff !important;
}

.grayLink {
  text-decoration: none !important;
  display: -webkit-inline-box !important;
  color: #878ca4 !important;
}

.subItem {
  width: 85% !important;
  margin: 10% 7.5% !important;
}
