.MuiPaper-root {
  background-color: #202534 !important;
  color: white !important;
}

.MuiAlert-standardError {
  border: 1px solid #ff515a;
}

.MuiAlert-standardInfo {
  border: 1px solid #48bdff;
}

.MuiAlert-standardSuccess {
  border: 1px solid #15ac5b;
}

.MuiAlert-standardWarning {
  border: 1px solid orange;
}
